@model IEnumerable<TPIA.Common.DTO.News.GetNewsListReturnDTO>

@{
    ViewBag.Title = "最新消息";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}
<p></p>
<br />
<section id="service" class=" text-center ">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="wow fadeInLeft panel panel-info" data-wow-delay="0.2s">
                    <div class="panel-heading">最新消息 <div style="text-align:right;color:blue;">@Html.ActionLink("建立新消息", "AddNews", "News")</div></div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>消息編號</th>
                                        <th>標題</th>
                                        <th>建立時間</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    @foreach (TPIA.Common.DTO.News.GetNewsListReturnDTO item in Model)        {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NewsID)
                                            </td>
                                            @*<td>
                                                    <label>@item.NewsCategory</label>
                                                    @Html.DisplayFor(modelItem => item.NewsCategory)
                                                </td>*@
                                            <td>                                               
                                                @Html.ActionLink(item.NewsTitle, "EditNews", "News", new { NewsId = item.NewsID }, null)
                                                @*@Html.ActionLink(item.NewsTitle, "NewsContent", "News", new { NewsId = item.NewsID }, null)*@
                                            </td>
                                            <td>
                                                @*@Html.DisplayFor(modelItem => item.CreateDate)*@
                                                <span>@item.CreateDate.ToString("yyyy/MM/dd HH:mm")</span>
                                            </td>
                                            <td>
                                                @Html.ActionLink("編輯消息", "EditNews", "News", new { NewsId = item.NewsID }, null) |
                                                @Html.ActionLink("刪除消息", "DeleteNews", "News", new { NewsId = item.NewsID }, null)
                                            </td>
                                        </tr>        }
                                    
                                </tbody>
                            </table>
                        </div>
                        @*<div class="col-md-12 text-center">
                                <ul class="pagination pagination-lg pager" id="myPager"></ul>
                            </div>*@
                    </div>
                </div>
            </div>           
        </div>
    </div>
</section>