@{
    ViewBag.Title = "首頁";
}
@*<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('#_container').imagesLoaded(function () {
                $('#_container').masonry({
                    itemSelector: '.content_box',
                    columnWidth: 364,
                    singleMode: false,
                    animate: true
                });
            });
        });
    </script>*@

<div id="_container" style="width:800px; overflow:hidden; margin:0 auto;">
    @*@if (Model != null)
        {
            foreach (var item in Model)
            {

                <div class="content_box">
                    <p><a href="@Url.Action("NewsContent", "News", new { NewsID = @item.NewsID })">@item.NewsTitle</a></p>
                    <p>@item.CreateDate.ToString("yyyy/MM/dd")</p>
                    <br />
                </div>

            }
        }*@

    @Html.ActionLink("後臺管理","BackEndIndex","News")
</div>

